{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-3">

      <h2>Welcome, {{ object.fio }}</h2>
    </div>


{% if object == request.user %}
  <div class="col-sm-8">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Edit profile</a>
    <a class="btn btn-primary" href="{% url 'startup:add' %}" role="button">Add startup</a>

  </div>
{% endif %}
</div>

</div>
{% endblock content %}
